<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="com.pojo.Department">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="depName" column="dep_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dep_name
    </sql>
</mapper>
